* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    background-color: black;
}

.hero {
    background-image: url("images/hero-gym2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    /* Adjust for small screens */
@media (max-width: 768px) {
.hero {
    min-height: 70vh;
    background-position: top;
    }

.hero-overlay {
    min-height: 5vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 12px;
    }   
}

.fw-extra-bold {
    font-weight: 900;
}

.fs-0 {
    font-size: 3rem;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4rem;
    border-radius: 12px;
}

.quote {
    background-color: #111;
    color: white;
    padding: 3rem 1rem;
    text-align: center;
    font-style: italic;
}

.programs-header {
    text-align: center;
    padding: 4rem 1rem 2rem;
}

.form-control,
.form-select,
.form-check-input {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}
.form-control:focus,
.form-select:focus {
    border-color: #888;
    box-shadow: none;
}
.btn-primary {
    background-color: #555;
    border-color: #555;
}
.btn-primary:hover {
    background-color: #444;
    border-color: #444;
}
.footer {
    background-color: #000;
}

.signup {
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    color: white;
}